.icon-call {
  transition: transform 0.2s;
}

.icon-call:hover {
  transform: scale(1.05);
}

.icon-facebook {
  transition: transform 0.2s;
}

.icon-facebook:hover {
  transform: scale(1.05);
}

.icon-instagram {
  transition: transform 0.2s;
}
.icon-instagram:hover {
  transform: scale(1.05);
}
