.procedures-card {
  position: relative;
  border-radius: 4px 120px;
  overflow: hidden;
  transition: transform 0.2s;
  width: 320px;
  height: 416px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 456px;
  }

  &__process {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 118%;
    font-size: 22px;
    position: absolute;
    bottom: 32px;
    right: 77px;
    left: 115px;

    text-align: center;
    display: block;
    margin: 0;
    color: var(--color-primary-white);
    z-index: 2;
    cursor: pointer;
  }

  &__process span {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      var(--color-primary-dark) 101.39%
    );
    z-index: 1;
  }
}
.photo {
  height: 100%;
}
