.address-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-style: normal;
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    flex-basis: 50%;
  }

  &__icons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__security-date {
    color: var(--color-secondary-gray);
    font-size: 13;
    margin-bottom: 0;
  }
  &__confidentiality {
    color: var(--color-primary-white);
    text-decoration: none;
    margin-bottom: 16px;
    transition: color 0.2s;
  }

  &__svg-icon {
    fill: var(--color-primary-white);
  }

  &__icons-list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;

    @media screen and (min-width: 1280px) {
      gap: 24px;
      justify-content: start;
    }
  }

  &__address {
    color: var(--color-primary-white);
    text-decoration: none;
    margin-bottom: 16px;
    transition: color 0.2s;
  }

  &__list,
  &__info {
    flex-grow: 0;
    padding: 0;
    margin: 0;
  }

  &__list {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
