.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
.section {
  padding: 48px 0;
}


.container-large {
  max-width: 1240px;
  padding: 0 20px;
}

.container-medium {
  max-width: 1216px;
  padding: 0 20px;
}
.container-small {
  max-width: 1080px;
}

.modal-container {
   display: flex;
  align-items: center;
  justify-content: center;
}
