
.form-terms {
  color: var(--color-secondary-gray);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0;

  & span {
  display: block;
}

&__link {
  color: var(--color-secondary-gray);  
}
}









