.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  @media screen and (min-width: 1280px) {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
  }

  &__container {
    padding-top: 21px;
    @media screen and (min-width: 1280px) {
      padding: 32px 0;
      display: flex;
      align-items: center;
    }
  }

  &__menu {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  &__logo {
    color: var(--color-primary-blue);
    font-size: 16px;
    line-height: 1;
    width: 57px;
    height: 30px;
    text-decoration: none;
    font-family: 'Play';
    font-weight: 700;
    text-transform: capitalize;
    

    @media screen and (min-width: 1280px) {
      font-size: 22px;
      width: 74px;
      height: 42px;
      padding-top: 0;
    }
  }

  &__logo span {
    display: block;
  }

  &__icons {
    display: none;

    @media screen and (min-width: 1280px) {
      fill: var(--color-primary-dark);
      margin: 0;
      padding: 0;
      display: flex;
      gap: 32px;
    }
  }
  &__burger {
    position: absolute;
    right: 18px;
    top: 21px;
    background-color: transparent;
    fill: var(--color-primary-white);
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}


