.why-section {
  @media screen and (min-width: 768px) {
    padding-bottom: 48px;
  }

  &__title {
    color: var(--color-primary-dark);
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 48px;
      font-family: 'Play';
      font-weight: 700;
      font-size: 64px;
    }
  }

  &__title span {
    display: block;
  }

  &__title .accent {
    color: var(--color-primary-blue);
  }
}

.background-wave {
  background-image: url(../img/background-wave.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -104px;
  padding-top: 104px;

  @media screen and (min-width: 1280px) {
    margin-top: -200px;
    padding-top: 176px;
    background-size: 100% 1440px;
  }
}
//   @media screen and (min-width: 768px) {
//     background-image: url(../img/background-vawe.svg);
//     background-position: center 1100px;
//   }
//   @media screen and (min-width: 1280px) {
// background-position: center 1300px;
//   }

//   background-repeat: no-repeat;
// }
